body{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg');
    background-repeat:round;
    background-size:cover;
    visibility:visible;
}